# Ignore system files as part of your docker image
.DS_Store
desktop.ini
Thumbs.db

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore local virtual environment
venv/
.env

# Ignore logs and temporary files
logs/
logs/scheduler/
logs/scheduler/latest


# Ignore data folder
data/

# exlude bigger files
data/raw/inventory_tbl/inventory_parts.csv
data/transformed/ft_inv_parts.csv
